.comment-list {
  display: flex;
  flex-direction: column;
}

.comment-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: @clr-grey;

  &:last-child {
    margin-bottom: 0;
  }
}

.comment-list__link {
  font-size: 0;
}

.comment-list__picture {
  width: 100%;
  height: auto;
}

.comment-list__comment_box {
  padding: 20px 18px 20px 17px;
}

@media (min-width: @tablet-width) {
  .comment-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .comment-list__item {
    flex-basis: 300px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .comment-list__comment_box {
    padding: 24px 31px 21px 28px;
  }
}

@media (min-width: @desktop-width) {
  .comment-list {
    justify-content: flex-start;
    margin: -27px -10px;
  }

  .comment-list__item {
    margin: 27px 10px;

    &:last-child {
      margin-bottom: 27px;
    }
  }

  .comment-list__comment_box {
    padding: 24px 31px 21px 28px;
  }
}
