.contact-list {
  display: flex;
  flex-direction: column;
  margin-bottom: -19px;
}

.contact-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 19px;
}

.contact-list__value {
  padding-left: 24px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @clr-red;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.contact-list__box {
  display: flex;
  width: 100%;
  height: 63px;
  border: 2px solid @clr-lgrey;
  border-radius: 3px;

  &:hover {
    border-color: @clr-dblue;
  }

  &:active,
  &:focus {
    border-color: @clr-red;
    outline: none;
  }

  &:focus-within {
    border-color: @clr-red;
  }
}

.contact-list__field {
  padding: 17px 20px;
  border: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @clr-dblue;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: @clr-dblue;
  }
}

.contact-list__icon {
  display: none;
}

@media (min-width: @tablet-width) {
  .contact-list {
    margin-bottom: -31px;
  }

  .contact-list__item {
    position: relative;
    margin-bottom: 31px;
    flex-direction: column-reverse;
  }

  .contact-list__value {
    padding-left: 21px;
    margin-bottom: 0;
  }

  .contact-list__box {
    margin-bottom: 12px;
  }

  .contact-list__field {
    flex-grow: 1;
    border: 0;
    padding: 17px 20px;

    &:focus {
      outline: none;
    }
  }

  .contact-list__icon {
    display: block;
    width: 60px;
    font-size: 0;
    background-color: @clr-lgrey;
    background-repeat: no-repeat;
    background-position: 50%;

    &--phone {
      background-image: url("../../img/icon-phone.svg");
      background-size: 20px 19px;
    }

    &--email {
      background-image: url("../../img/icon-mail.svg");
      background-size: 18px 13px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contact-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-list__item {
    width: 375px;
    margin-bottom: 0;
  }

  .contact-list__field {
    padding: 17px 20px;
  }
}
