.content {
  position: relative;
  background-color: @clr-grey;
  padding-top: 112px;
  background-image: linear-gradient(174deg, #ffffff 7%, #f2f2f2 7%, #f2f2f2 93%);
}

.content__features {
  .drop-list();
  margin-bottom: 40px;
}

.content__image {
  display: block;
  position: relative;
  bottom: 0;
  margin: 0;
  text-align: center;
  height: 277px;
  overflow: hidden;
}

.content__phone-image {
  width: 157px;
  height: 320px;
}

@media (min-width: @tablet-width) {
  .content {
    padding-top: 54px;
    background-image: linear-gradient(175deg, #ffffff 18%, #f2f2f2 18%, #f2f2f2 82%);
  }

  .content__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .content__features {
    flex-basis: 310px;
    padding-top: 70px;
    margin-bottom: 0;
  }

  .content__image {
    flex-basis: 268px;
    height: 481px;
  }

  .content__phone-image {
    width: 268px;
    height: 481px;
  }
}

@media (min-width: @desktop-width) {
  .content {
    padding-top: 79px;
    background-image: linear-gradient(176deg, #ffffff 24%, #f2f2f2 24%, #f2f2f2 76%);
  }

  .content__box {
    display: block;
  }

  .content__features {
    padding-top: 0;
  }

  .content__image {
    display: none;
  }
}
