.content-panorama {
  position: relative;
  margin-bottom: 20px;
}

.content-panorama__picture {
  display: block;
  min-width: 320px;
  min-height: 137px;
  margin: 0 auto;
  background-color: #5b6234;
}

.content-panorama__mark {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 7px 20px 5px 20px;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: @clr-white;
  background-color: @clr-red;
}

.content-panorama__comment_box {
  padding: 19px 18px;
}

@media (min-width: @tablet-width) {
  .content-panorama {
    margin-bottom: 50px;
  }

  .content-panorama__picture {
    min-width: 700px;
    min-height: 509px;
  }

  .content-panorama__mark {
    top: 57px;
  }

  .content-panorama__comment_box {
    padding: 26px 28px 24px 28px;
  }
}

@media (min-width: @desktop-width) {
  .content-panorama__picture {
    min-width: 1200px;
    min-height: 506px;
  }

  .content-panorama__mark {
    top: 54px;
    right: 10px;
  }

  .content-panorama__comment_box {
    padding-bottom: 23px;
  }
}
