.content-desc {
  padding-top: 47px;
  padding-bottom: 48px;
}

.content-desc__text {
  margin: 0;
  padding: 0 15px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @clr-dblue;
}

@media (min-width: @tablet-width) {
  .content-desc {
    padding-top: 94px;
    padding-bottom: 74px;
  }

  .content-desc__text {
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: @desktop-width) {
  .content-desc {
    padding-bottom: 86px;
  }

  .content-desc__text {
    padding-left: 150px;
    padding-right: 150px;
  }
}

