.contact-options {
  display: flex;
  flex-direction: column;
}

.contact-options__item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact-options__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: @clr-dblue;
}

.contact-options__value {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: @clr-red;
  font-style: normal;
}

.contact-options__phone,
.contact-options__email {
  text-decoration: none;
  color: @clr-red;

  &:hover {
    color: @clr-dblue;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.3;
  }
}
