.content {
  position: relative;
  background-color: @clr-grey;
  padding-top: 122px;

  &::before {
    content: "";
    position: absolute;
    margin-left: -600px;
    top: 0;
    left: 50%;
    width: 1200px;
    height: 94px;
    background-image: url("../../img/bg-triangle-white.svg");
  }
}
