.content-desc {
  position: relative;
  background-color: #2b3848;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.content-desc__box {
  padding-top: 99px;
  min-height: 237px;
  padding-bottom: 35px;
}

.content-desc__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 33px;
  font-weight: lighter;
  color: @clr-white;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
}
