.data-contacts__title {
  display: none;
}

.data-contacts__contact-list {
  .drop-list();
}

@media (min-width: @tablet-width) {
  .data-contacts__title {
    display: block;
    margin: 0 auto;
    padding: 0 33px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: @clr-red;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .data-contacts__title {
    padding: 0 30px;
  }
}
