.features__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.features__item {
  padding: 0 10px;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__image {
  display: none;
}

.features__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: @clr-black;
  margin-bottom: 12px;
}

.features__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @clr-dblue;
}

@media (min-width: @tablet-width) {
  .features__list {
    text-align: left;
  }

  .features__item {
    padding: 0;
    margin-bottom: 37px;
  }
}

@media (min-width: @desktop-width) {
  .features__list {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .features__item {
    flex-basis: 300px;
    margin-bottom: 0;
  }

  .features__image {
    display: inline-block;
    margin: 0;
    height: 302px;
    margin-bottom: 57px;
  }

  .features__phone-image {
    width: 292px;
    height: 302px;
  }

  .features__title {
    padding: 0 30px;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 23px;
  }

  .features__description {
    padding: 0 30px;
    font-size: 18px;
    line-height: 30px;
  }
}
