.features__text {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: @clr-dblue;
  text-align: center;
  font-weight: lighter;

  &--question {
    margin-bottom: 35px;
  }

  &--answer {
    margin-bottom: 115px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  .drop-list();
  margin-bottom: 40px;
}

.features__item {
  padding: 0 10px;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 12px;
}

.features__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @clr-dblue;
}

.features__image {
  position: relative;
  bottom: 0;
  margin: 0;
  text-align: center;
  height: 277px;
  overflow: hidden;
}

.features__phone-image {
  width: 157px;
  height: 320px;
}
