.filter-set {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.filter-set__item {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-set__icon {
  font-size: 0;

  &:hover {
    cursor: pointer;
  }

  & > .filter-set__image {
    opacity: 0.3;
  }

  &:hover > .filter-set__image {
    opacity: 0.5;
  }

  &--active + .filter-set__bar {
    display: block;
  }

  &--active > .filter-set__image {
    opacity: 1;
    fill: @clr-red;
  }

  &--active:hover > .filter-set__image {
    opacity: 1;
  }
}

.filter-set__bar {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: @clr-dblue;
}

.filter-set__level {
  position: relative;
  height: 2px;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid @clr-red;
    background-color: @clr-white;
  }

  &:hover::after {
    cursor: pointer;
  }

  &:active::after,
  &:focus::after {
    background-color: @clr-red;
  }
}

@media (min-width: @tablet-width) {
  .filter-set {
    justify-content: flex-start;
  }

  .filter-set__item {
    position: relative;
    width: auto;
    height: 72px;
    border-bottom: 1px solid #dddfe0;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 18px;
  }

  .filter-set__icon {
    display: flex;
    align-items: center;
    width: 23px;
    height: auto;

    & > .filter-set__image,
    &:hover > .filter-set__image,
    &:active > .filter-set__image {
      fill: @clr-red;
      opacity: 1;
      cursor: auto;
    }
  }

  .filter-set__bar {
    position: relative;
    display: block;
    width: 202px;
    bottom: auto;
  }
}

@media (min-width: @desktop-width) {
  .filter-set__item {
    padding-right: 30px;
    padding-left: 0;
  }

  .filter-set__icon {
    width: 48px;
    justify-content: center;
  }

  .filter-set__bar {
    width: 288px;
  }

  .filter-set__level {
    position: relative;

    &--crop {
      width: 25%;
      max-width: 25%;
    }

    &--fill {
      max-width: 75%;
    }

    &--contrast {
      width: 62%;
    }
  }
}
