.mobile-apps {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 733px;
  width: 320px;
}

.mobile-apps__image {
  margin: 0;
}
