.mobile-apps {
  position: relative;
  background-color: #1d2631;
  padding-top: 176px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.mobile-apps > .container {
  min-height: 557px;
  padding-top: 286px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.mobile-apps__column {
  display: flex;
  padding-top: 28px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mobile-apps__text {
  position: absolute;
  top: -373px;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @clr-white;
  text-align: center;
}

.mobile-apps__link {
  display: block;
  width: 100%;
  padding: 16px 0 15px 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: @clr-white;
  border: 3px solid #ffffff;
  border-radius: 50px;

  &:hover,
  &:focus {
    color: @clr-red;
    background-color: @clr-white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: @clr-white;
  }
}

.mobile-apps__list {
  .drop-list();
  margin-bottom: 15px;
}

.mobile-apps__description {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @clr-white;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .mobile-apps {
    display: flex;
    padding-top: 184px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: center top;
    background-repeat: no-repeat;
  }

  .mobile-apps > .container {
    padding-top: 0;
    min-height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  .mobile-apps__column {
    display: block;
    width: 300px;
    padding-top: 25px;
  }

  .mobile-apps__text {
    position: static;
    margin-bottom: 36px;
    padding: 0 30px;
    font-size: 40px;
    line-height: 46px;
    font-weight: 300;
  }

  .mobile-apps__link {
    margin-bottom: 27px;
  }

  .mobile-apps__list {
    margin: 0 auto;
    margin-bottom: 17px;
  }

  .mobile-apps__description {
    margin-bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}

@media (min-width: @desktop-width) {
  .mobile-apps {
    height: 853px;
    padding-top: 209px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
  }

  .mobile-apps > .container {
    min-height: 644px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: -29% 100%;
  }

  .mobile-apps__column {
    padding-top: 15px;
  }

  .mobile-apps__text {
    font-size: 50px;
    line-height: 56px;
    font-weight: 300;
    margin-bottom: 60px;
  }

  .mobile-apps__link {
    margin-bottom: 59px;
  }

  .mobile-apps__list {
    margin-bottom: 42px;
  }

  .mobile-apps__description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}
