.page-header__nav {
  position: absolute;
  min-height: 66px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  &--nojs {
    position: static;
  }
}

.page-header__menu-list {
  .drop-list();
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header__nav {
    min-height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__nav {
    min-height: 110px;

    &--nojs {
      position: absolute;
    }
  }

  .page-header__menu-list {
    width: @desktop-width;
    margin: 0 auto;
    padding: 0 10px;
  }
}
