.pink-form {
  display: flex;
  flex-direction: column;
}

.pink-form__data-progress {
  order: 1;
}

.pink-form__data-contacts {
  order: 2;
}

.pink-form__data-which-app {
  order: 3;
}

.pink-form__data-review {
  order: 4;
}

.pink-form__box-btn {
  order: 5;
}

@media (min-width: @tablet-width) {
  .pink-form {
    display: block;
  }
}
