.prices {
  position: relative;
  background-color: @clr-grey;
  padding-top: 133px;
  padding-bottom: 47px;

  &::before {
    content: "";
    position: absolute;
    margin-left: -600px;
    top: 0;
    left: 50%;
    width: 1200px;
    height: 94px;
    background-image: url("../../img/bg-triangle-white.svg");
  }
}

.prices__table {
  position: relative;
  border-collapse: collapse;
  border: 2px solid #e5e5e5;
  border-top: none;
  background-color: @clr-white;
  width: 300%;
  margin-left: -280px;
  margin-bottom: 40px;
}

.prices__toggles {
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
