.prices {
  position: relative;
  background-color: @clr-grey;
  padding-bottom: 47px;
}

.prices > .container {
  overflow-x: hidden;
}

.prices__table {
  position: relative;
  border-collapse: collapse;
  border-top: none;
  background-color: @clr-white;
  width: 300%;
  margin-left: -280px;
  margin-bottom: 40px;
}

.prices__toggles {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .prices {
    padding-bottom: 68px;
  }

  .prices > .container {
    overflow-x: visible;
  }

  .prices__table {
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
  }

  .prices__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .prices {
    padding-bottom: 95px;
  }
}
