.rate-table__hcell {
  padding: 17px 15px;
  width: 280px;
  color: @clr-white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: @clr-dblue;
  border-top: none;
  border-left: 2px solid #e5e5e5;
  border-bottom: 2px solid @clr-dblue;

  &:last-child {
    border-right: 2px solid @clr-dblue;
  }

  &:nth-child(2) {
    border-left-color: @clr-dblue;
  }

  &--hit {
    position: relative;
  }

  &--hit::before {
    content: "хит";
    position: absolute;
    font-size: 14px;
    line-height: 30px;
    color: @clr-white;
    font-weight: 400;
    left: 9px;
    top: 12px;
    z-index: 3;
    transform: rotate(-45deg);
  }

  &--hit::after {
    content: "";
    position: absolute;
    display: block;
    width: 74px;
    height: 74px;
    top: 0;
    left: 0;
    z-index: 2;
    // background-image: url("../../img/bg-hit-tablet.svg");
    // background-repeat: no-repeat;
    background-image: linear-gradient(135deg, #283645 20%, #D22856 20%, #D22856 48%, #283645 48%, #283644 100% );
  }

  &--hidden {
    display: none;
  }
}

.rate-table__rate-value {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.rate-table__cell {
  position: relative;
  padding: 13px 68px 16px 22px;
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @clr-dblue;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;

  &--available::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 17px;
    margin-top: -10px;
    width: 31px;
    height: 21px;
    background-image: url("../../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--disable::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 19px;
    margin-top: -13px;
    width: 27px;
    height: 26px;
    background-image: url("../../img/icon-no.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:nth-child(1) {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .rate-table__hcell {
    width: 155px;
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 11px;

    &--hidden {
      display: table-cell;
      background-color: #f2f2f2;
      border-left: none;
      border-bottom: none;
    }
  }

  .rate-table__rate-value {
    font-size: 18px;
  }

  .rate-table__cell {
    width: 155px;
    text-transform: none;
    padding: 9px 15px 7px 15px;

    &:nth-child(1) {
      display: table-cell;
    }

    &--available::after {
      right: 50%;
      margin-right: -15px;
      top: auto;
    }

    &--disable::after {
      right: 50%;
      margin-right: -13px;
      top: auto;
    }
  }

  .rate-table__field {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .rate-table__hcell {
    font-size: 18px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .rate-table__rate-value {
    font-size: 24px;
  }

  .rate-table__cell {
    width: 235px;
    font-size: 18px;
    padding: 17px 24px 13px 24px;
  }
}
