.rest-comment__name {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: @clr-dblue;
  font-weight: 700;
}

.rest-comment__time-ago {
  font-size: 12px;
  line-height: 24px;
  color: @clr-dblue;
  text-transform: uppercase;
  font-weight: 300;
}

.rest-comment__text {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: @clr-dblue;
  font-weight: 400;
  word-wrap: break-word;
}

.rest-comment__like-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.rest-comment__like-text {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  color: @clr-red;
  font-weight: 400;
  text-transform: uppercase;
}

.rest-comment__like-btn {
  font-size: 0;
  padding: 0;
  margin-right: 17px;
  border: none;
  background-color: transparent;

  &:hover svg path,
  &:focus svg path {
    fill: @clr-dblue;
  }

  &:active svg path {
    fill-opacity: 0.3;
  }
}

.rest-comment__like-btn svg {
  width: 14px;
  height: 13px;
}

@media (min-width: @tablet-width) {
  .rest-comment {
    display: flex;
    flex-direction: column;
    min-height: 160px;
  }

  .rest-comment__text {
    margin-bottom: 13px;
    flex-grow: 1;
  }

  .rest-comment__like-box {
    flex-direction: row;
    justify-content: space-between;
  }

  .rest-comment__like-btn {
    margin-right: 0;
  }
}
