.reviews {
  padding-top: 44px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

.reviews__author-name {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-data {
  display: none;
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: @clr-dblue;
  font-weight: normal;
}

.reviews__toggles {
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
