.site-list__item {
  text-align: center;
}

.site-list__link {
  display: block;
  padding: 22px 0;
  text-decoration: none;
  color: @clr-white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;

  &[href]:hover,
  &[href]:focus {
    color: @clr-red;
  }

  &[href]:active {
    color: @clr-white;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .site-list__item {
    margin-left: 82px;
  }

  .site-list__link {
    display: inline-block;
    padding: 10px 0;
    text-transform: capitalize;
    line-height: 18px;
    font-weight: 400;

    &--active {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: @clr-white;
    }
  }
}
