.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 189px;
  margin: -4px -6px;
}

.social-list__item {
  margin: 4px 6px;
}

.social-list__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 3px solid rgba(40, 54, 69, 0.3);

  &:hover,
  &:focus {
    border-color: rgba(40, 54, 69, 1);
  }

  &:active {
    border-color: rgba(40, 54, 69, 0.1);
  }

  &:active svg path {
    fill-opacity: 0.3;
  }
}
