.text-content {
  position: relative;
  padding-top: 49px;
}

.text-content__row {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: @clr-dblue;
  text-align: center;
  font-weight: lighter;

  &--question {
    margin-bottom: 35px;
  }
}
